CRITIC IMPLEMENTATION

In [1]:
import pandas as pd
import numpy as np

In [2]:
mobile_full=pd.read_excel('edas_data_python.xlsx')
mobile_full.head()

  Alternatives   P/E RATİO  M/B RATIO       EPS  DIV. YIELD  DIV. PAYOUT
0        AEFES   15.596684   0.426024  1.804230    0.063754     0.911525
1         AVOD   15.107937   1.902159  0.125100    0.064819     0.000000
2        BANVT  109.431308   8.433842  0.951282    0.009068     0.000000
3        CCOLA   14.436836   2.225982  8.928549    0.068157     0.266561
4        DARDL   12.916062   9.940285  0.274077    0.077423     0.000000

REFERENCE TABLE

In [3]:
criteria=['P/E RATIO','M/B RATIO','EPS','DIV. YIELD','DIV. PAYOUT']
types=['cost','cost','benefit','benefit','cost']
mobile_full_v2=mobile_full.iloc[:,1:6]
mobile_full_v2.head()
mobile_full_np=np.array(mobile_full_v2)
print(mobile_full_np)

[[ 1.55966845e+01  4.26023631e-01  1.80422962e+00  6.37536967e-02
   9.11524778e-01]
 [ 1.51079369e+01  1.90215900e+00  1.25099808e-01  6.48185531e-02
   0.00000000e+00]
 [ 1.09431308e+02  8.43384206e+00  9.51281692e-01  9.06846227e-03
   0.00000000e+00]
 [ 1.44368359e+01  2.22598214e+00  8.92854925e+00  6.81568645e-02
   2.66560662e-01]
 [ 1.29160621e+01  9.94028465e+00  2.74077345e-01  7.74229787e-02
   0.00000000e+00]
 [ 3.80000000e+00  1.76000000e+00  1.65000000e+00  2.63157895e-01
   0.00000000e+00]
 [ 2.69289455e+01  4.42461929e+00  6.96648148e-01  3.59653148e-02
   1.07658364e+00]
 [ 7.55373593e+01  3.50904083e+00  5.42777778e-02  1.33360633e-02
   0.00000000e+00]
 [ 1.62857737e+01  2.51100535e+00  3.86840694e-01  6.03495622e-02
   0.00000000e+00]
 [ 1.44992930e+01  1.90044044e+00  6.76584713e-01  6.87586091e-02
   1.67458705e-01]
 [ 1.88192144e+01  5.00493626e+00  3.84181818e-01  4.83247570e-02
   0.00000000e+00]
 [ 1.22835003e+02  5.78659969e+00  5.51145833e-02  7.40787410e-03
   0.00000000e+00]
 [ 4.73310951e+01  2.66384489e+00  6.79891304e-01  2.06027668e-02
   0.00000000e+00]
 [ 2.11823479e+02  1.85098227e+00  1.67592376e-02  4.54179880e-03
   0.00000000e+00]
 [ 1.43263067e+02  3.16202644e+00  1.23967750e-01  7.01175056e-03
   0.00000000e+00]
 [ 3.55490798e+01  3.16744884e+00  7.03253085e-02  2.85875238e-02
   0.00000000e+00]
 [ 2.30462221e+01  1.36178978e+00  1.98297143e-01  4.16590636e-02
   0.00000000e+00]
 [ 2.10162585e+02  8.06995629e-01  1.12769835e-01  4.64838560e-03
   1.14569646e+01]
 [-1.85064171e+01  2.22506174e+00 -2.80983617e-01 -5.27173765e-02
   0.00000000e+00]
 [ 7.76000000e+00  6.58993066e-01  3.68000000e+00  1.28671329e-01
   1.07418478e-01]
 [ 8.74185937e+00  1.63761170e+00  4.81590909e-01  1.13582762e-01
   0.00000000e+00]
 [-5.54935029e+01  2.68384692e+00 -1.39115385e-01 -1.81139824e-02
   0.00000000e+00]
 [ 9.13410099e+00  2.48079419e+00  1.64110294e+00  1.05198906e-01
   1.29486088e-01]
 [ 5.03486485e+00  2.10592263e+00  3.73396319e+00  1.95393155e-01
   8.57196453e-02]
 [ 2.33112132e+01  4.91458042e+00  7.30978688e-01  3.90063334e-02
   0.00000000e+00]
 [-1.17478442e+01  1.27162538e+00 -1.35769591e+00 -8.46443832e-02
  -5.95694438e-01]
 [ 6.25082032e+00  1.85170671e+00  6.09520000e-01  1.61248677e-01
   0.00000000e+00]]

In [4]:
mobile_full_np.shape

(27, 5)

STEP 1)

In [9]:
first_step=np.zeros(shape=(mobile_full_np.shape[0],mobile_full_np.shape[1]))
for i in range(mobile_full_np.shape[0]):
  for j in range(mobile_full_np.shape[1]):

    if types[j]=='benefit':
      n=np.max(mobile_full_np[:, [j]])
      m=mobile_full_np[i][j]/n
    else :
      n=np.min(mobile_full_np[:, [j]])
      m=n/mobile_full_np[i][j]
    first_step[i][j]=+m
first_step=np.nan_to_num(first_step, neginf=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.

In [14]:
first_step.shape

(27, 5)

In [15]:
weights=[0.204612160591036, 0.255413512125869 , 0.171691059402842, 0.183224656646261, 0.185058611233991 ]

STEP 2) Q1

In [66]:
Q1_list=[]
for i in range(first_step.shape[0]):
  prod=[]
  for j in range(first_step.shape[1]):
    m=first_step[i,j]*weights[j]
    prod.append(m)
  n=sum(prod)  
  print(n)
  Q1_list.append(n)

-0.5144584669332805
-0.6468279088013894
-0.06625206039485144
-0.9320351688568778
-0.8089875012057827
-2.7112862602476393
-0.46101897326538854
-0.10898016156312464
-0.6044210802014286
-1.3232790078021743
-0.5405789849884239
-0.06741644109814907
-0.17163173947560154
0.008666421066943368
-0.03757935315474097
-0.2637978344274541
-0.37996787073413024
0.07659125204124251
0.6203469725844305
-2.164007995422233
-1.1440933948939178
0.22986848909180582
-1.9457935378508473
-3.2817228655289554
-0.4237341226875414
1.152116424245036
-1.6337509576494709

STEP 3 ) Q2

In [62]:
temp_list=np.zeros(shape=(mobile_full_np.shape[0],mobile_full_np.shape[1]))
for i in range(first_step.shape[0]):
  for j in range(first_step.shape[1]):
    x=first_step[i,j]*-1
    y=x**weights[j]
    temp_list[i][j]=+y*-1
temp_list[np.isnan(temp_list)] = 1 
temp_list[temp_list == 0] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

In [63]:
Q2_list=[]
for i in range(temp_list.shape[0]):
  y=1
  for j in range(temp_list.shape[1]):
    x=temp_list[i][j]
    y=y*x
  print(y)
  Q2_list.append(y)

1.1983828861008836
-1.3050087893027984
-0.870281969950641
1.5285464172020768
-1.3475423329335519
-1.7308617410341496
1.0391741496615432
-0.9388547531385409
-1.2851162602351076
1.6643942127282685
-1.247654071152365
-0.8499481549863502
-1.0330891424711985
-0.7602747508000964
-0.8236104849225004
-1.095405231555493
-1.1969849095493226
0.4406018331734619
0.4113049621891699
2.0534775939508325
-1.4595855717291082
0.29973706263292316
1.9186076594379398
2.3391967097372985
-1.19418812665168
0.5878961449621164
-1.5632727601126812

STEP 4 ) Q

In [69]:
l=0.5
Q_list=[]
for i in range(len(Q1_list)):
  z=(Q1_list[i]*l)+(Q2_list[i]*(1-l))
  Q_list.append(z)

STEP 5) Ranking

In [82]:
temp=[]
for i in range(len(Q_list)):
  y=Q_list[i]*-1
  temp.append(y)
temp_np=np.array(temp)

In [84]:
import numpy as np
deneme=[]
arr = Q_list*-1
arr2=np.sort(temp_np,axis=0)
f=enumerate(arr2, start=1)
f=list(f)

In [88]:
deneme=pd.DataFrame(f)

In [92]:
deneme[2]=deneme.iloc[:,1]*-1
deneme

     0         1         2
0    1 -0.870006  0.870006
1    2 -0.515826  0.515826
2    3 -0.341962  0.341962
3    4 -0.298256  0.298256
4    5 -0.289078  0.289078
5    6 -0.264803  0.264803
6    7 -0.258597  0.258597
7    8 -0.170558  0.170558
8    9  0.013593 -0.013593
9   10  0.055265 -0.055265
10  11  0.375804 -0.375804
11  12  0.430595 -0.430595
12  13  0.458682 -0.458682
13  14  0.468267 -0.468267
14  15  0.471263 -0.471263
15  16  0.523917 -0.523917
16  17  0.602360 -0.602360
17  18  0.679602 -0.679602
18  19  0.788476 -0.788476
19  20  0.808961 -0.808961
20  21  0.894117 -0.894117
21  22  0.944769 -0.944769
22  23  0.975918 -0.975918
23  24  1.078265 -1.078265
24  25  1.301839 -1.301839
25  26  1.598512 -1.598512
26  27  2.221074 -2.221074

In [93]:
deneme=pd.DataFrame(f)
deneme[2]=deneme.iloc[:,1]*-1
deneme=deneme[[0, 2]]
deneme = deneme.rename(columns={2: 1})
deneme.head()

   0         1
0  1  0.870006
1  2  0.515826
2  3  0.341962
3  4  0.298256
4  5  0.289078

In [94]:
df_mobile_full_np1=mobile_full.iloc[:,0]

In [96]:
df_mobile_full_np1
df_mobile_full_np1=pd.DataFrame(df_mobile_full_np1)

In [97]:
Q_last=pd.DataFrame(Q_list)
df_mobile_full_np1[1]=Q_last[0]
Q_last.head()
df_mobile_full_np1.head()

  Alternatives         1
0        AEFES  0.341962
1         AVOD -0.975918
2        BANVT -0.468267
3        CCOLA  0.298256
4        DARDL -1.078265

In [99]:
result = pd.merge(df_mobile_full_np1, 
                      deneme, 
                      on =1, 
                      how ='inner')
result.rename(columns={1:'Q Value',0:'Rank'})

   Alternatives   Q Value  Rank
0         AEFES  0.341962     3
1          AVOD -0.975918    23
2         BANVT -0.468267    14
3         CCOLA  0.298256     4
4         DARDL -1.078265    24
5          EKIZ -2.221074    27
6         ELITE  0.289078     5
7          ERSU -0.523917    16
8          FADE -0.944769    22
9         KRVGD  0.170558     8
10        KNFRT -0.894117    21
11        KRSTL -0.458682    13
12        KTSKR -0.602360    17
13        MERKO -0.375804    11
14        ORCAY -0.430595    12
15        OYLUM -0.679602    18
16        PENGD -0.788476    19
17        PETUN  0.258597     7
18        PINSU  0.515826     2
19        PNSUT -0.055265    10
20        SELGD -1.301839    25
21        SELVA  0.264803     6
22        TATGD -0.013593     9
23        TBORG -0.471263    15
24        ULUUN -0.808961    20
25        ULKER  0.870006     1
26        VANGD -1.598512    26